/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header */
header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77aaff 3px solid;
}

header h1 {
    text-align: center;
    margin: 0;
    font-size: 36px;
}

header p {
    text-align: center;
    font-size: 18px;
}

/* Secciones */
section {
    padding: 20px 0;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
}

section p, section ul {
    font-size: 18px;
    line-height: 1.8;
}

section ul {
    list-style-type: none;
    padding: 0;
}

section ul li {
    background: #77aaff;
    color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

/* Proyectos */
.project {
    background: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project h3 {
    margin-top: 0;
}

.project a {
    color: #77aaff;
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}

/* Contacto */
#contact ul {
    list-style-type: none;
    padding: 0;
}

#contact ul li {
    margin-bottom: 10px;
}

#contact a {
    color: #229954;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
}